<form id="dataForm" class="form-horizontal dataForm" action="" method="post" enctype="multipart/form-data">
     <div class="box-body">
           <div class="fields-group">
               <div class="form-group">
				    <label for="c-title" class="control-label col-xs-12 col-sm-2">标题:</label>
				    <div class="col-xs-12 col-sm-8">					           
				    	<div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-book"></i></span>
                           <input maxlength="15" id="title" name="title" value="{$row.title|default=''}"  class="form-control"  >
                       </div>
				    </div>
				</div>
           </div>
       </div>
       {include file="template/form_footer" /}
 </form>