<form id="dataForm" class="form-horizontal dataForm" action="" method="post" enctype="multipart/form-data">
     <div class="box-body">
           <div class="fields-group">
               <div class="form-group">
				    <label for="c-title" class="control-label col-xs-12 col-sm-2">标题:</label>
				    <div class="col-xs-12 col-sm-8">					           
				    	<div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-book"></i></span>
                           <input  id="title" name="title" value="{$row.title|default=''}"  class="form-control"  >
                       </div>
				    </div>
				</div>
				<div class="form-group">
				    <label for="c-title" class="control-label col-xs-12 col-sm-2">作者:</label>
				    <div class="col-xs-12 col-sm-8">					           
				    	<div class="input-group">
                           <span class="input-group-addon"><i class="fa  fa-user-circle"></i></span>
                           <input maxlength="15" id="author" name="author" value="{$row.author|default=''}"  class="form-control"  >
                       </div>
				    </div>
				</div>
				
				<div class="form-group">
				    <label for="c-title" class="control-label col-xs-12 col-sm-2">标签:</label>
				    <div class="col-xs-12 col-sm-8">					           
				    	<div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-tags"></i></span>
                           <select name="tag_id" id="tag_id" class="form-control" >
                             
                           		 {$tags}
                           </select>
                       </div>
				    </div>
				</div>
				
				<div class="form-group">
                            <label for="is_show" class="col-sm-2 control-label">置顶推荐</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group iconpicker-container">
                                    <input  value="{$row.top|default='0'}" {if(isset($row) && ($row.top==1))}checked{/if} class="form-input-switch" type="checkbox" data-input="top">
                                    <input id="top" name="top" value="{$row.top|default='0'}" type="hidden" />
                                </div>
                            </div>
                        </div>
				
				<div class="form-group">
				    <label for="c-title" class="control-label col-xs-12 col-sm-2">内容:</label>				     				           
			    	 <div class="col-sm-12">
                         <script id="editor" name="content" type="text/plain" style="height:400px">{if(isset($row['content']))}{:html_entity_decode($row.content)}{/if}</script>
                     </div>
				    
				</div>
				<div class="form-group">
				    <label for="c-title" class="control-label col-xs-12 col-sm-2">封面:</label>
				    <div class="col-xs-12 col-sm-8">
                           <input id="file" name="image" type="file" >  

							 <br>
		                     <div id="image_show">
		                     		{if(isset($row['image']))}
		                     			<img src="/uploads/{$row.image}" width="200px" />
		                     		{/if}
		                      </div>                    
				    </div>
				    
                       
				</div>
           </div>
       </div>
       {include file="template/form_footer" /}
 </form>