<link rel="stylesheet" href="__PLUGINS__/iconpicker/css/iconpicker.min.css">
<script src="__PLUGINS__/iconpicker/js/iconpicker.min.js"></script>
<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
             
            <form id="dataForm" class="dataForm form-horizontal" action="" method="post" enctype="multipart/form-data">
                <div class="box-body">
                    <div class="fields-group">                        
                    	{foreach name="data" item="item"}
                   		 <div class="form-group">
                            <label for="{$item.code}" class="col-sm-2 control-label">{$item.title}</label>
                            <div class="col-sm-10 col-md-4">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                    {if($item.type=='input')}
                                    <input maxlength="50" id="{$item.code}" name="{$item.code}" value="{$item.content|default=''}" class="form-control" placeholder="请输入{$item.title}">
                                	{/if}
                                	
                                	{if($item.type=='image')}
                                    <input  name="{$item.code}"  type="file" class="form-control" >
                                     
                                	{/if}
                                	{if($item.type=='textarea')}                                   
                                	<textarea  cols="15"  id="{$item.code}" name="{$item.code}" class="form-control" placeholder="请输入{$item.title}" style="resize:none">{$item.content|default=''}</textarea>
                                	{/if}
                                	
                                </div>
                                {if($item.type=='image')}                                     
                                    
                                    <br>
	                               <div id="image_show_{$item.code}">
	                               		{if(isset($item['content']))}
	                               			<img src="/uploads/{$item.content}" height="60px" />
	                               		{/if}
	                                </div>
                                {/if}
                            </div>
                        </div>
                    	
                    	{/foreach}
                    	 
                       <button id='btn' class="btn btn-primary" style="margin: 30px 100px;">提交</button> 
                    </div>
                   
                </div>
                {:token()}
                
            </form>
        </div>
    </div>
</div>

<script>
    
	      
$("input[type='file']").change(function(){
	
var name=$(this).attr('name');
var file=this.files[0];
 if(window.FileReader){
	  var fr=new FileReader();
	  fr.readAsDataURL(file);
	  fr.onloadend=function(e){
		  var len=e.target.result.length/1365;
		  if(len>400){
			  layer.msg('图片超过400KB，不能上传此图片');
		  }
		  var str='<img src="'+e.target.result+'" height="60px" />';
		  $('#image_show_'+name).html(str);
		   
	  }
 }
  	 
});

</script>