<div class="row">
    <div class="col-md-12">
        <div class="box">
            <div class="box-body">
                <form class="form-inline" name="searchForm" id="searchForm" action="" method="GET">
                    <div class="form-group">
                        <input value="{$keywords ? $keywords : '' ;}"
                               name="keywords" id="keywords" class="form-control input-sm" placeholder="任务名称">
                    </div>
                    
                   
                    <div class="form-group">
                        <button class="btn btn-sm btn-primary" type="submit"><i class="fa fa-search"></i> 查询
                        </button>
                    </div>
                  
                    <div class="form-group">
                        <button onclick="clear_form()" class="btn btn-sm btn-default" type="button"><i
                                class="fa  fa-eraser"></i> 清空查询
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box">
    		{if $showDataHeader}
			<div class="box-header">
			    <div>
			        {if $showDataHeaderAddButton}
			        <!-- <a title="新增" class="btn btn-primary btn-sm" href="{:url('add')}">
			            新增
              </a> -->

              <a data-url="{:url('add')}" 
                 data-title="新增计划任务" class="btn btn-primary btn-sm AjaxButton" 
                 data-type="2" data-confirm="2">
                新增
            </a>


			        {/if}
			        {if $showDataHeaderDeleteButton}
			        <a class="btn btn-danger btn-sm AjaxButton" title="批量删除，谨慎使用" data-id="checked" data-url="{:url('del')}">删除</a>
			        {/if}
			    </div>
			</div>
			{/if}
            <div class="box-body table-responsive">
                <table id="datalist" class="table table-hover table-bordered datatable" width="100%">
                    <thead>
                    <tr>
                        <th>
                            <input type="checkbox" onclick="check_all(this)" class="checkbox" placeholder="全选/取消">
                        </th>
                        <th>ID</th>
                        <th>类型</th>
                        <th>任务名称</th>
                        <th>最多执行次数</th>
                        <th>已执行次数</th>                        
                        <th>预计下次执行时间</th>  
                        <th  align="center">状态</th>                        
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach name="lists" item="list"}
                    <tr>
                        <td>
                            <input type="checkbox" onclick="check_this(this)" name="data-checkbox"
                                   data-id="{$list.id}" class="checkbox data-list-check" value="{$list.id}"
                                   placeholder="选择/取消">
                        </td>
                        <td>{$list.id}</td>
                        <td>{$list.type}</td>
                        <td>{$list.title}</td>
                         <td>{if $list.maximums eq 0}无限{else /}{$list.maximums}{/if}</td>
                        <td>{$list.executes}</td>                       
                        <td>{:date('Y-m-d H:i:s',$list.nexttime)}</td>
                        <td  align="center">
                            {if $list.status=='normal'}
                            <i class="fa fa-play" style="color:rgb(63, 148, 56);"> 正常</i>
                            {else /}
                            <i class="fa fa-pause" style="color:#333;"> 暂停</i>
                            {/if}
                        </td>                        
                        <td class="td-do">
                      
              <!--   
                <a href="{:url('edit','id='.$list['id'])}" title="修改" class="btn btn-primary btn-xs">
                                <i class="fa fa-pencil"></i>
                            </a>
              </a> -->

              <a title="修改" 
                 data-toggle="tooltip" 
                 data-id="{$list.id}" 
                 data-title="修改计划任务"
                 data-url="edit" 
                 data-confirm="2" 
                 data-type="2" 
                 class="AjaxButton btn btn-default btn-xs">
                    <i class="fa fa-pencil"></i>
              </a>


                            <a data-url="{:url('getlog')}" data-title="日志详情" class="btn btn-primary btn-xs AjaxButton" data-id="{$list.id}" data-type="2" data-confirm="2">
                                <i class="fa fa-list"></i>
                            </a>
                            <a class="btn btn-danger btn-xs AjaxButton" title="删除" data-id="{$list.id}" data-url="{:url('del')}">
                                <i class="fa fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            {include file="template/data_footer" /}
        </div>
    </div>
</div>
<script>
    
</script>